.container {
  max-width: 400px;
  margin: 80px auto;
  padding: 2rem;
  background: #fff;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

form {
  display: flex;
  flex-direction: column;
}

h2 {
  margin-bottom: 1.5rem;
  text-align: center;
}

label {
  margin-bottom: 0.5rem;
  font-weight: bold;
}

input {
  margin-bottom: 1rem;
  padding: 0.5rem;
  font-size: 1rem;
  border-radius: 4px;
  border: 1px solid #ccc;
}

button {
  padding: 0.75rem;
  background: #0077cc;
  color: #fff;
  border: none;
  font-weight: bold;
  cursor: pointer;
  border-radius: 4px;
}

button:hover {
  background: #005fa3;
}

p{
  font-style: italic;
  margin-top: 1.5rem;
  text-align: center;
}
